<template>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <button
            type="button"
            @click="employeeAction('add')"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Add Employee</button>
        </div>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Id</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Office</th>
              <th>Email</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- iloloop ko sa dito yung mga items sa data employees using v-for within template ng vue -->
            <template v-for="(employee, i) in employees">
              <tr :key="i">
                <td>{{employee.id}}</td>
                <td>{{employee.firstname}}</td>
                <td>{{employee.lastname}}</td>
                <td>{{employee.office_name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.status}}</td>

                <td>
                  <!-- ilink natin method na ginawa using @click attrib ni vue then ipasa employee. lahat ata ng elem 
                  pwede lagyan @click-->
                  <button
                    @click="employeeAction('edit',employee)"
                    type="button"
                    class="btn btn-primary"
                  >Edit</button>
                  <button
                    @click="employeeAction('view',employee)"
                    type="button"
                    class="btn btn-success"
                  >View</button>
                  <button
                    @click="employeeAction('delete',employee)"
                    type="button"
                    class="btn btn-danger"
                  >Delete</button>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

      <!-- modal -->
      <div id="employeemodal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <!-- link sa modal data -->
              <h5 class="modal-title" id="exampleModalLabel">{{emp_modal.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- from vue parang prevent default ilink din sa method handleEmployeeSubmit
          every input value naka bind sa data emp_modal.employeefield
            -->
            <form @submit.prevent="handleEmployeeSubmit">
              <div class="modal-body">
                <fieldset :disabled="emp_modal.action == 'view' || emp_modal.action == 'delete'">
                  <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <input
                      required
                      type="text"
                      class="form-control"
                      id="firstname"
                      v-model="emp_modal.employeefield.firstname"
                    />
                  </div>
                  <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input
                      required
                      type="text"
                      class="form-control"
                      id="lastname"
                      v-model="emp_modal.employeefield.lastname"
                    />
                  </div>
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input
                      required
                      type="email"
                      class="form-control"
                      id="email"
                      v-model="emp_modal.employeefield.email"
                    />
                  </div>
                  <div class="form-group">
                    <label for="status">Status</label>
                    <select
                      required
                      v-model="emp_modal.employeefield.status"
                      class="form-control"
                      id="status"
                    >
                      <option>Inactive</option>
                      <option>Active</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="office">Office</label>
                    <select
                      required
                      v-model="emp_modal.employeefield.office_id"
                      class="form-control"
                      id="office"
                    >
                      <option
                        :key="i"
                        v-for="(office, i) in offices"
                        :value="office.id"
                      >{{office.name}}</option>
                    </select>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button
                  :hidden="emp_modal.action == 'view' || emp_modal.action == 'delete'"
                  type="submit"
                  class="btn btn-primary"
                >{{emp_modal.action == 'add' ? "Add" : "Update"}}</button>

                <button
                  v-if="emp_modal.action == 'delete'"
                  type="submit"
                  class="btn btn-danger"
                >Delete</button>
                <button
                  type="button"
                  @click="reset"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  /**
   * dito sir mag initialized ng data na gagamitin sa loob ng template
   * din dito rin siya imamanipulate
   * madaming instance vue
   */
  data() {
    return {
      employees: [],
      offices: [],
      selectedemp: {
        emp: {},
        index: -1
      },
      emp_modal: {
        title: "",
        action: "",
        employeefield: {
          firstname: "",
          lastname: "",
          email: "",
          office_id: "",
          status: ""
        }
      }
    };
  },
  mounted() {
    // ito lifecycle hooks ng vue parang ready function and onload sa jquery
    //https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram

    this.getemployees();
    this.getOffices();
  },
  methods: {
    getemployees() {
      // need iaasigne sa variable this class kasi di siya accesible sa loob ng ajax
      let vm = this;
      $.ajax({
        url: "/api/employee"
      }).done(function(data) {
        /**
         * iseset ko ung na fetch dun sa initial data employees
         *
         */
        vm.employees = data;
        console.log("emploees", data);
      });
    },
    employeeAction(type, employee = {}) {
      //change modal title
      let title = "Add Employee";

      //if edit or view yung action then emp_modal.employeefield = to the selected employee
      if (["view", "edit", "delete"].includes(type)) {
        this.emp_modal.employeefield.firstname = employee.firstname;
        this.emp_modal.employeefield.lastname = employee.lastname;
        this.emp_modal.employeefield.email = employee.email;
        this.emp_modal.employeefield.office_id = employee.office_id;
        this.emp_modal.employeefield.status = employee.status;

        // reference lang para bagohin mamaya yung employees at malaman id ng selected employee
        this.selectedemp = {
          emp: employee,
          index: this.employees.indexOf(employee)
        };

        if (type == "view") title = `View Employee ${employee.id}`;
        else title = `Edit Employee ${employee.id}`;
      }

      this.emp_modal.title = title;
      this.emp_modal.action = type;
      $("#employeemodal").modal("show");
    },
    handleEmployeeSubmit() {
      let payload = this.emp_modal.employeefield;
      let action = this.emp_modal.action;
      let vm = this;
      if (action == "add")
        $.ajax({
          type: "POST",
          url: "/api/employee",
          data: payload,
          success: function(emp) {
            console.log(emp);
            // appen natin sa data employees yung response
            let newEmployees = vm.employees;
            newEmployees.push(emp);
            vm.employees = newEmployees;
          },
          dataType: "json"
        }).fail(function() {
          alert(`unable to ${action} employee`);
        });
      else if (action == "delete") {
        // get the id na rineference kanina
        let id = this.selectedemp.emp.id;
        $.ajax({
          type: "DELETE",
          url: `/api/employee/${id}`,
          data: payload,
          success: function(emp) {
            console.log(emp);
            // palitan natin ung emp sa employess
            //using index na rineference kanina sa employee action
            vm.employees = vm.employees.filter(item => item.id != id);
          },
          dataType: "json"
        }).fail(function() {
          alert(`unable to ${action} employee`);
        });
      } else {
        // get the id na rineference kanina
        let id = this.selectedemp.emp.id;
        $.ajax({
          type: "PUT",
          url: `/api/employee/${id}`,
          data: payload,
          success: function(emp) {
            console.log(emp);
            // palitan natin ung emp sa employess
            //using index na rineference kanina sa employee action
            vm.employees.splice(vm.selectedemp.index, 1, emp);
          },
          dataType: "json"
        }).fail(function() {
          alert(`unable to ${action} employee`);
        });
      }

      $("#employeemodal").modal("hide");
    },
    getOffices() {
      // need iaasigne sa variable this class kasi di siya accesible sa loob ng ajax
      let vm = this;
      $.ajax({
        url: "/api/office"
      }).done(function(data) {
        /**
         * iseset ko ung na fetch dun sa initial data employees
         *
         */
        vm.offices = data;
        console.log("office", data);
      });
    },
    reset() {
      //alisin lang mga value sa data
      this.selectedemp = {
        emp: {},
        index: -1
      };
      this.emp_modal = {
        title: "",
        action: "",
        employeefield: {
          firstname: "",
          lastname: "",
          email: "",
          office_id: "",
          status: ""
        }
      };
    }
  },
  watch: {
    // watch sa data employees para if may iaapend or push iinitialized yung datatable
    employees: function() {
      //itong .nextTick method ginagamit to para irender or update lahat ng data sa template
      this.$nextTick().then(() => $("#example").DataTable());
    }
  }
};
</script>

<style>
</style>